* {
    box-sizing: border-box;
    margin: 0px;
}

// Nav下滑後釘在上方
.fixedMenu #main {
    position: fixed;
    top: -120px;
    left: 0px;
    width: 100%;
    .logo {
        width: 195px;
        height: 195px;
        top: 80px;
        left: 270px;
        transform: rotate(360deg);
        transition: 0.5s;
    }
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(image/body-bg.png);

    nav {
        .my-container {
            width: 100%;
            height: 856px;
            display: flex;
            position: relative;

            // Banner Swiper
            .swiper-container {
                width: 100%;
                height: 100%;

                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .swiper-container {
                    margin-left: auto;
                    margin-right: auto;
                }
                .swiper-button-next,
                .swiper-button-prev {
                    color: white;
                }
                .tagline {
                    font-size: 60px;
                    line-height: 60px;
                    font-weight: 600;
                    letter-spacing: 10px;
                    text-shadow: 0.1em 0.1em 0.2em #333;
                    color: white;
                    position: absolute;
                    top: calc(100vh - 65%);
                    left: calc(100vw - 64%);
                    // border: 2px solid rgba(255, 255, 255, 0.5);
                    // background-color: rgba(0, 0, 0, 0.2);
                    padding: 20px 30px;
                    z-index: 10;
                }
            }

            // Menubar
            .nav-bg {
                width: 100%;
                height: 323px;
                background-image: url(image/nav-bg.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 0px;
                top: 730px;
                z-index: 99;

                .logo {
                    width: 280px;
                    height: 280px;
                    border-radius: 50%;
                    background-color: #fff;
                    background-image: url(image/logo.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 200px;
                    top: -30px;
                    z-index: 99;
                }

                .logo:hover {
                    margin: 5px 0px;
                    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
                    transform: rotate(360deg);
                    transition: 0.3s;
                }

                .menu {
                    height: 50px;
                    display: flex;
                    position: absolute;
                    left: 500px;
                    top: 138px;
                    z-index: 99;

                    .txt-set:hover {
                        .txt-cn {
                            background-color: rgba(0, 0, 0, 0.3);
                            margin: 3px 0px;
                            transition: 0.3s;
                        }
                    }
                    a {
                        color: #fff;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        line-height: 1.5rem;
                        padding: 0 1.5rem;
                        text-decoration: none;

                        .txt-cn {
                            font-size: 1.4rem;
                            text-align: center;
                        }

                        .txt-en {
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        .go-top {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.4);
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 10px;
            bottom: 10px;
            position: fixed;
            z-index: 99;
            color: gray;
            text-decoration: none;
        }
        .go-top:hover {
            background-color: rgba(255, 255, 255, 1);
        }

        // About Us
        .about {
            width: 100%;
            height: 100vh;
            position: relative;

            .title-about {
                width: 380px;
                height: 60px;
                background-image: url(/image/title-about.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 180px;
                left: calc(100vw - 60%);
            }

            .tree-left {
                width: 470px;
                height: 907px;
                background-image: url(/image/tree-left.png);
                background-size: cover;
                background-position: left;
                background-repeat: no-repeat;
                position: absolute;
                top: 30px;
                left: 0px;
            }

            .tree-right {
                width: 470px;
                height: 907px;
                background-image: url(/image/tree-rigjt.png);
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
                position: absolute;
                top: 5px;
                right: 0px;
            }

            .brand-bg {
                width: 893px;
                height: 453px;
                background-image: url(/image/brand-bg.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 80px;
                left: 20px;
                opacity: 0.5;
            }

            .philosophy-bg {
                width: 893px;
                height: 453px;
                background-image: url(/image/philosophy-bg.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 80px;
                right: 20px;
                opacity: 0.6;
            }

            hr {
                height: 1px;
                border-width: 0px;
                background-color: #69421e;
                margin: 8px 0px;
            }
            h3,
            h4 {
                margin: 0px;
                padding: 0px;
            }

            .brand {
                color: #69421e;
                position: absolute;
                top: 30%;
                right: 55%;
            }
            .philosiohy {
                position: absolute;
                top: 30%;
                left: 57%;
            }
            .box:hover {
                background-color: #faf2ea;
                transition: 0.1s;
                cursor: pointer;
                transform: rotate(-3deg);

                .btn-more {
                    width: 100px;
                    height: 30px;
                    background-color: #69421e;
                    color: white;
                    font-size: 0.8rem;
                    transition: 0.3s;
                }
            }
            .box {
                width: 400px;
                background-color: #fff;
                color: #69421e;
                border-radius: 20px;
                padding: 20px;
                -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);

                .txt {
                    font-size: 0.8rem;
                }

                .btn-more {
                    width: 100px;
                    height: 30px;
                    border: 0.5px solid;
                    border-color: #69421e;
                    color: #69421e;
                    font-size: 0.6rem;
                    border-radius: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    left: 250px;
                }
            }

            .my-modal {
                display: flex;
                flex-direction: column;
                padding: 20px 30px 30px 30px;

                h4 {
                    color: rgb(75, 42, 0);
                }
                p {
                    color: gray;
                }

                .about-1 {
                    width: 100%;
                    height: 300px;
                    background-image: url(image/brand-bg.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                .about-2 {
                    width: 100%;
                    height: 300px;
                    background-image: url(image/philosophy-bg.svg);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }

        // Dining Room
        .dining-room {
            width: 100%;
            height: 800px;
            background-color: #c0d9de;
            position: relative;
            top: -80px;

            .room-bg-top {
                width: 100%;
                height: 125px;
                background-image: url(image/room-bg-top.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                top: -125px;
            }

            .swiper-container {
                width: 100%;
                height: 100%;
                position: relative;

                .swiper-button-next {
                    position: absolute;
                    right: 220px;
                    top: 35%;
                    color: white;
                    text-shadow: 0.1em 0.1em 0.3em #333;
                }

                .swiper-button-prev {
                    position: absolute;
                    left: 700px;
                    top: 35%;
                    color: white;
                    text-shadow: 0.1em 0.1em 0.3em #333;
                }

                .swiper-pagination {
                    position: relative;
                    top: 250px;
                    left: 425px;
                    --swiper-theme-color: white;
                    .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                    }
                }

                .swiper-wrapper {
                    .swiper-slide {
                        width: 100%;
                        height: 667px;
                        position: relative;
                        top: -50px;
                        display: flex;

                        .content {
                            // height: 667px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-left: 220px;
                            margin-right: 50px;

                            .title {
                                width: 404px;
                                height: 100px;
                                background-image: url(image/title-dining-room.svg);
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                margin-top: 50px;
                            }

                            .subtitle {
                                width: 420px;
                                font-size: 1.5rem;
                                color: black;
                                opacity: 0.6;
                                text-align: center;
                            }

                            .txt {
                                width: 400px;
                                font-size: 1.5rem;
                                color: black;
                                line-height: 2.5rem;
                                position: absolute;
                                top: 400px;
                            }
                        }
                        .room-img {
                            img {
                                width: 1000px;
                                -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                                box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                }
            }

            .room-bg-bottom {
                width: 100%;
                height: 135px;
                background-image: url(image/room-bg-bottom.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                bottom: 125px;
            }
        }

        // Events & News
        .events-news {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            .hidden {
                top: -200px;
            }

            .flag-left {
                width: 220px;
                height: 65px;
                background-image: url(image/flag-left.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 120px;
                left: 530px;
                z-index: 99;
            }

            .title-img {
                width: 406px;
                height: 68px;
                background-image: url(image/title-events-news.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                top: 120px;
            }

            .flag-right {
                width: 220px;
                height: 65px;
                background-image: url(image/flag-right.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: 125px;
                right: 540px;
                z-index: 99;
            }

            .swiper-container {
                width: 75%;
                height: 100%;
                position: relative;
                top: 100px;
                padding: 20px;

                .swiper-pagination {
                    margin-top: 30px;
                    position: relative;
                    top: -20px;
                    --swiper-theme-color: #4193a3;
                    z-index: 999;

                    .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                    }
                }

                .swiper-wrapper {
                    a {
                        text-decoration: none;
                    }

                    .card {
                        display: flex;
                        justify-content: space-between;
                        background-color: rgba(0, 0, 0, 0.1);
                        position: relative;

                        img {
                            width: 100%;
                        }

                        .post-date {
                            width: 50px;
                            height: 80px;
                            background-color: rgba(50, 50, 50, 0.7);
                            color: white;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            right: 0;
                            top: 0;

                            .date {
                                font-size: 1.4rem;
                                font-weight: 900;
                                line-height: 1.4rem;
                            }
                            .month,
                            .year {
                                font-size: 0.9rem;
                                line-height: 1.2rem;
                                opacity: 0.7;
                            }
                        }

                        .event-txt {
                            padding: 20px 30px 30px 30px;
                            width: 100%;
                            height: 200px;
                            background-color: rgba(255, 255, 255, 0.1);
                            position: relative;
                            color: black;

                            .title {
                                font-size: 1.3rem;
                                margin-bottom: 10px;
                            }

                            .content {
                                font-size: 0.9rem;
                                opacity: 0.65;
                            }

                            .more {
                                width: 100px;
                                height: 30px;
                                border: 0.5px solid #4193a3;
                                color: #4193a3;
                                font-size: 0.8rem;
                                border-radius: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                right: 30px;
                                bottom: 30px;
                            }
                        }
                    }
                    .swiper-slide:hover {
                        transform: rotate(-3deg);
                        filter: contrast(1.2);
                        cursor: pointer;
                        background-color: rgba(65, 147, 163, 0);

                        .event-txt {
                            border: 1px solid rgba(116, 116, 116, 0.3);
                        }

                        .more {
                            background-color: #4193a3;
                            color: white;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

        // Service
        .service {
            width: 100%;
            height: 650px;
            background-color: rgba(65, 147, 163, 0.3);
            position: relative;
            top: 450px;

            .hidden {
                position: relative;
                top: -350px;
            }


            .service-bg-top {
                width: 100%;
                height: 140px;
                background-image: url(/image/service-bg-top.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: -140px;
            }

            .house {
                width: 330px;
                height: 278px;
                background-image: url(/image/house.png);
                position: absolute;
                left: 0px;
                top: -280px;
                z-index: -1;
            }

            .title-service{
                width: 364px;
                height: 53px;
                background-image: url(/image/title-our-service.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: 40%;
                top: -150px;
            }

            .my-container {
                margin: auto;
                width: 75%;
                display: flex;
                justify-content: space-between;
                position: relative;
                top: -250px;
            }

            .card-1 {
                .srv-img {
                    background-image: url(image/service-1.jpg);
                }
            }

            .card-2 {
                .srv-img {
                    background-image: url(image/service-2.jpg);
                }
            }

            .card-3 {
                .srv-img {
                    background-image: url(image/service-3.jpg);
                }
            }

            .card-4 {
                .srv-img {
                    background-image: url(image/service-4.jpg);
                }
            }

            .srv {
                width: 368px;
                height: 600px;
                position: relative;
                top: 330px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .srv-img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-color: #fff;
                    margin-bottom: 30px;
                    -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                    box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                }
                .coffee {
                    background-position: left;
                }
                .srv-txt {
                    width: 250px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .title {
                        font-size: 1.5rem;
                        margin-bottom: 5px;
                    }
                    hr {
                        width: 100%;
                        height: 1px;
                        border: 0px;
                        background-color: #4193a3;
                        margin-bottom: 15px;
                    }
                    span {
                        line-height: 1.8rem;
                    }
                }
            }

            .service-bg-bottom {
                width: 100%;
                height: 135px;
                background-image: url(image/service-bg-top.svg);
                -moz-transform: scaleY(-1);
                -o-transform: scaleY(-1);
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                filter: FlipV;
                -ms-filter: "FlipV";
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                bottom: -50px;
            }
        }

        // Excellent Food
        .ex-food {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 730px;

            .hidden {
                position: relative;
                top: -250px;
            }

            .sketch-left{
                width: 276px;
                height: 125px;
                background-image: url(/image/food-sketch-12.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: -50px;
                left: 450px;
            }

            .title {
                width: 403px;
                height: 54px;
                background-image: url(image/title-excellent-food.svg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-bottom: 50px;
            }

            .sketch-right{
                width: 188px;
                height: 82px;
                background-image: url(/image/food-sketch-13.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                top: -20px;
                right: 520px;
            }

            .card-area {
                width: 100%;
                display: flex;
                justify-content: center;

                .card-1 {
                    .food-img {
                        background-image: url(image/food-1.jpg);
                    }
                }

                .card-2 {
                    .food-img {
                        background-image: url(image/food-2.jpg);
                    }
                }

                .card-3 {
                    .food-img {
                        background-image: url(image/food-3.jpg);
                    }
                }

                .card-4 {
                    .food-img {
                        background-image: url(image/food-4.jpg);
                    }
                }

                .card-5 {
                    .food-img {
                        background-image: url(image/food-5.jpg);
                    }
                }

                .card-6 {
                    .food-img {
                        background-image: url(image/food-6.jpg);
                    }
                }

                .card-7 {
                    .food-img {
                        background-image: url(image/food-7.jpg);
                    }
                }

                .food {
                    width: 20%;
                    margin: 25px;
                    -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                    box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);

                    .food-img {
                        width: 100%;
                        height: 300px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    .food-txt {
                        width: 100%;
                        height: 210px;
                        background-color: rgb(230, 230, 230);
                        padding: 22px;

                        .food-name {
                            font-size: 1.2rem;
                            font-weight: 600;
                            margin-bottom: 10px;
                        }
                        .description {
                            font-size: 1rem;
                            line-height: 1.5rem;
                            color: rgb(88, 88, 88);
                        }
                    }
                }
            }
        }

        // Journey of Taste
        .taste {
            width: 100%;
            height: 1115px;
            background-image: url(image/taste-bg.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            top: 780px;

            .swiper-container {
                width: 100%;
                height: 100%;

                .swiper-pagination {
                    position: absolute;
                    top: 450px;
                    left: 1490px;
                    --swiper-theme-color: white;

                    .swiper-pagination-bullet {
                        width: 16px;
                        height: 16px;
                    }
                }

                .swiper-button-next {
                    position: absolute;
                    right: 760px;
                    color: white;
                    text-shadow: 0.1em 0.1em 0.3em #333;
                }

                .swiper-button-prev {
                    position: absolute;
                    left: 165px;
                    color: white;
                    text-shadow: 0.1em 0.1em 0.3em #333;
                }

                .swiper-wrapper {
                    .swiper-slide {
                        position: relative;
                        top: 220px;
                        display: flex;
                        justify-content: space-between;

                        .taste-img {
                            width: 65%;
                            height: 667px;
                            display: flex;
                            justify-content: center;
                            margin-left: 100px;

                            img {
                                width: 1000px;
                                height: 667px;
                                -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                                box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                            }
                        }

                        .taste-txt {
                            width: 35%;
                            height: 667px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-right: 100px;

                            .title {
                                width: 404px;
                                height: 180px;
                                background-image: url(image/taste-title.png);
                                background-size: 90%;
                                background-position: center;
                                background-repeat: no-repeat;
                                margin: 20px 0px 20px 0px;
                            }

                            .name {
                                width: 420px;
                                // height: 50px;
                                font-size: 1.6rem;
                                line-height: 3rem;
                                color: black;
                                text-align: center;
                                border: solid 1px gray;
                                margin: 80px 0px 20px 0px;
                            }

                            .description {
                                width: 400px;
                                font-size: 1.3rem;
                                line-height: 2.5rem;
                                color: black;
                                opacity: 0.6;
                                margin-bottom: 50px;
                            }
                            .price {
                                font-size: 2rem;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        // Menu & Price
        .menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 50px;
            position: relative;
            top: 650px;

            a {
                text-decoration: none;
            }
            .catalogue:hover {
                filter: contrast(1.1);
                box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                transform: rotate(-3deg);
            }

            .title {
                width: 595px;
                height: 170px;
                background-image: url(image/menu-title.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin: 50px 0px 30px 0px;
            }

            .menu-group {
                width: 80%;
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;

                .a {
                    background-color: #b8d9d7;
                }
                .b {
                    background-color: #d6ddb8;
                }
                .c {
                    background-color: #f1cfd9;
                }
                .d {
                    background-color: #e6dbce;
                }
                .e {
                    background-color: #c5e6fb;
                }

                .catalogue {
                    width: 255px;
                    height: 70px;
                    border-radius: 20px 0px 20px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .cn {
                        font-size: 1.2rem;
                        color: black;
                    }
                    .en {
                        font-size: 1rem;
                        color: rgb(82, 82, 82);
                    }
                }
            }

            .menu-list {
                display: flex;
                flex-direction: column;
                padding: 10px 20px 30px 30px;
                background-color: rgb(240, 240, 240);

                h4 {
                    color: #4193a3;
                }
                h5 {
                    margin: 5px 0px;
                    color: #d87d2e;
                    font-weight: unset;
                }
                hr {
                    width: 90%;
                    margin: 8px 0px;
                    height: 1px;
                    background-color: rgba(0, 0, 0, 0.2);
                    border: 0;
                }
            }
        }
    }

    // Footer
    footer {
        width: 100%;
        position: relative;
        top: 700px;
        margin: 0px;
        padding: 0px;

        .top-area {
            width: 100%;
            height: 380px;
            position: relative;

            .map {
                width: 100%;
                height: 380px;
                filter: grayscale(1) brightness(0.9);
                opacity: 0.7;
            }
            .map:hover {
                filter: grayscale(0) brightness(0.8);
                opacity: 0.8;
            }

            .contact {
                width: 380px;
                position: absolute;
                top: 40px;
                right: 180px;
                -webkit-box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);
                box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.5);

                .title {
                    width: 100%;
                    height: 60px;
                    background-image: url(image/contact-title.png);
                    background-position: left;
                    background-size: 80%;
                    background-repeat: no-repeat;
                    background-color: rgb(70, 70, 70);
                }
                .info {
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    padding: 25px 0px 25px 35px;
                    line-height: 2rem;
                    position: relative;

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    a:hover {
                        text-decoration: underline;
                        color: #4193a3;
                    }

                    img:hover {
                        transition: 0.3s;
                        transform: rotate(-15deg);
                    }

                    .FB {
                        position: absolute;
                        bottom: 25px;
                        left: 120px;
                    }
                    .IG {
                        position: absolute;
                        bottom: 25px;
                        left: 165px;
                    }
                    .LINE {
                        position: absolute;
                        bottom: 25px;
                        left: 210px;
                    }
                }
            }
        }

        .copyright {
            width: 100%;
            height: 80px;
            color: white;
            background-color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 1720px) {
    // Nav下滑後釘在上方
    .fixedMenu #main {
        position: fixed;
        top: -115px;
        left: 0px;
        width: 100%;
        .logo {
            width: 175px;
            height: 175px;
            top: 80px;
            left: 170px;
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }

    body {
        nav {
            .my-container {
                .cover {
                    width: calc(100vw - 1200px);
                    height: 800px;
                }
                .video {
                    width: 1200px;
                    height: 800px;
                    .mask {
                        width: 1200px;
                        height: 800px;
                    }
                }

                // Menubar
                .nav-bg {
                    height: 280px;
                    top: 700px;
                    .logo {
                        width: 220px;
                        height: 220px;
                        left: 100px;
                        top: -10px;
                    }
                    .menu {
                        height: 45px;
                        left: 380px;
                        top: 123px;
                        a {
                            line-height: 1.4rem;
                            padding: 0 1.2rem;
                            .txt-cn {
                                font-size: 1.1rem;
                                text-align: center;
                            }

                            .txt-en {
                                font-size: 0.8rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        main {
            .about {
                height: 95vh;
            }

            .dining-room {
                height: 900px;

                .swiper-container {
                    .swiper-pagination {
                        top: 430px;
                        left: 290px;
                    }
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            height: 567px;
                            top: 160px;
                            .content {
                                height: 567px;
                                margin-left: 80px;
                                .txt {
                                    font-size: 1.4rem;
                                    line-height: 2.4rem;
                                    top: 350px;
                                }
                            }
                            .room-img {
                                img {
                                    width: 850px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1425px) {
    // Nav下滑後釘在上方
    .fixedMenu #main {
        position: fixed;
        top: -90px;
        left: 0px;
        width: 100%;
        .logo {
            width: 155px;
            height: 155px;
            top: 60px;
            left: 120px;
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }

    body {
        nav {
            .my-container {
                .cover {
                    width: calc(100vw - 1000px);
                    height: 660px;
                }
                .video {
                    width: 1000px;
                    height: 660px;
                    .mask {
                        width: 1000px;
                        height: 660px;
                    }
                }

                // Menubar
                .nav-bg {
                    height: 250px;
                    top: 550px;
                    .logo {
                        width: 200px;
                        height: 200px;
                        left: 100px;
                        top: 10px;
                    }
                    .menu {
                        height: 45px;
                        left: 320px;
                        top: 100px;
                        a {
                            line-height: 1.2rem;
                            padding: 0 1rem;
                            .txt-cn {
                                font-size: 1rem;
                                text-align: center;
                            }

                            .txt-en {
                                font-size: 0.7rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        main {
            .about {
                height: 90vh;
            }
            .dining-room {
                height: 850px;
                .swiper-container {
                    .swiper-pagination {
                        top: 380px;
                        left: 208px;
                    }
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            height: 567px;
                            .content {
                                // height: 567px;
                                margin-left: 30px;
                                margin-right: 30px;
                                .title {
                                    width: 350px;
                                    height: 80px;
                                    margin-top: 50px;
                                }
                                .subtitle {
                                    width: 350px;
                                    font-size: 1.4rem;
                                }
                                .txt {
                                    width: 350px;
                                    font-size: 1.4rem;
                                    line-height: 2.4rem;
                                    top: 300px;
                                }
                            }
                            .room-img {
                                img {
                                    width: 750px;
                                }
                            }
                        }
                    }
                }
            }

            .events-news {
                .swiper-container {
                    width: 85%;
                }
            }
        }
    }
}

@media (max-width: 1186px) {
    // Nav下滑後釘在上方
    .fixedMenu #main {
        position: fixed;
        top: -80px;
        left: 0px;
        width: 100%;
        .logo {
            width: 155px;
            height: 155px;
            top: 50px;
            left: 100px;
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }

    body {
        nav {
            .my-container {
                .cover {
                    width: calc(100vw - 800px);
                    height: 550px;
                }
                .video {
                    width: 800px;
                    height: 550px;
                    .mask {
                        width: 800px;
                        height: 550px;
                    }
                }

                // Menubar
                .nav-bg {
                    height: 230px;
                    top: 470px;
                    .logo {
                        width: 180px;
                        height: 180px;
                        left: 80px;
                        top: 20px;
                    }
                    .menu {
                        height: 45px;
                        left: 280px;
                        top: 93px;
                        a {
                            line-height: 1.2rem;
                            padding: 0 0.8rem;
                            .txt-cn {
                                font-size: 1rem;
                                text-align: center;
                            }

                            .txt-en {
                                font-size: 0.7rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        main {
            .about {
                height: 85vh;
            }
            .dining-room {
                height: 800px;
                .swiper-container {
                    .swiper-pagination {
                        top: 390px;
                        left: 175px;
                    }
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            height: 567px;
                            .content {
                                // height: 567px;
                                margin-left: 20px;
                                margin-right: 20px;
                                .title {
                                    width: 300px;
                                    height: 70px;
                                    margin-top: 50px;
                                }
                                .subtitle {
                                    width: 300px;
                                    font-size: 1.4rem;
                                }
                                .txt {
                                    width: 300px;
                                    font-size: 1.4rem;
                                    line-height: 2.4rem;
                                    top: 300px;
                                }
                            }
                            .room-img {
                                img {
                                    width: 750px;
                                }
                            }
                        }
                    }
                }
            }

            .events-news {
                .swiper-container {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: 1135px) {
    // Nav下滑後釘在上方
    .fixedMenu #main {
        position: fixed;
        top: -80px;
        left: 0px;
        width: 100%;
        .logo {
            width: 145px;
            height: 145px;
            top: 50px;
            left: 30px;
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }

    body {
        nav {
            .my-container {
                .cover {
                    width: calc(100vw - 700px);
                    height: 470px;
                }
                .video {
                    width: 700px;
                    height: 470px;
                    .mask {
                        width: 700px;
                        height: 470px;
                    }
                }

                // Menubar
                .nav-bg {
                    height: 230px;
                    top: 390px;
                    .logo {
                        width: 140px;
                        height: 140px;
                        left: 40px;
                        top: 50px;
                    }
                    .menu {
                        height: 45px;
                        left: 200px;
                        top: 93px;
                        a {
                            padding: 0 0.5rem;
                            .txt-cn {
                                font-size: 1rem;
                                text-align: center;
                            }

                            .txt-en {
                                font-size: 0.7rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        main {
            .about {
                height: 80vh;
            }
            .dining-room {
                height: 800px;
                .swiper-container {
                    .swiper-pagination {
                        top: 360px;
                        left: 145px;
                    }
                    .swiper-wrapper {
                        .swiper-slide {
                            width: 100%;
                            height: 567px;
                            .content {
                                // height: 567px;
                                margin-left: 20px;
                                margin-right: 20px;
                                .title {
                                    width: 250px;
                                    height: 70px;
                                    margin-top: 20px;
                                }
                                .subtitle {
                                    width: 250px;
                                    font-size: 1.4rem;
                                }
                                .txt {
                                    width: 250px;
                                    font-size: 1.3rem;
                                    line-height: 2.2rem;
                                    top: 250px;
                                }
                            }
                            .room-img {
                                img {
                                    width: 650px;
                                }
                            }
                        }
                    }
                }
            }

            .events-news {
                .swiper-container {
                    width: 95%;
                }
            }
        }
    }
}
